#container {
  margin: 50px;
  margin-top: 150px;
  text-align: center;
}

h2 {
  margin: 50px;
}

label {
 padding: 10px;
}

output {
  margin: 10px;
  background-color: rgb(173, 199, 222)
}

#rates {
  margin: 50px;
}